{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://eks.amazonaws.com/"
        },
        {
            "url": "http://eks.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Amazon Elastic Container Service for Kubernetes (Amazon EKS) is a managed service that makes it easy for you to run Kubernetes on AWS without needing to stand up or maintain your own Kubernetes control plane. Kubernetes is an open-source system for automating the deployment, scaling, and management of containerized applications. </p> <p>Amazon EKS runs up-to-date versions of the open-source Kubernetes software, so you can use all the existing plugins and tooling from the Kubernetes community. Applications running on Amazon EKS are fully compatible with applications running on any standard Kubernetes environment, whether running in on-premises data centers or public clouds. This means that you can easily migrate any standard Kubernetes application to Amazon EKS without any code modification required.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Elastic Container Service for Kubernetes",
        "version": "2017-11-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/eks-2017-11-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "eks"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/eks/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/clusters": {
            "get": {
                "description": "Lists the Amazon EKS clusters in your AWS account in the specified Region.",
                "operationId": "ListClusters",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "clusters": [
                                            "devel",
                                            "prod"
                                        ]
                                    },
                                    "properties": {
                                        "clusters": {
                                            "description": "A list of all of the clusters for your account in the specified Region.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "The <code>nextToken</code> value to include in a future <code>ListClusters</code> request. When the results of a <code>ListClusters</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {},
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an Amazon EKS control plane. </p> <p>The Amazon EKS control plane consists of control plane instances that run the Kubernetes software, like <code>etcd</code> and the API server. The control plane runs in an account managed by AWS, and the Kubernetes API is exposed via the Amazon EKS API server endpoint.</p> <p>Amazon EKS worker nodes run in your AWS account and connect to your cluster's control plane via the Kubernetes API server endpoint and a certificate file that is created for your cluster.</p> <p>The cluster control plane is provisioned across multiple Availability Zones and fronted by an Elastic Load Balancing Network Load Balancer. Amazon EKS also provisions elastic network interfaces in your VPC subnets to provide connectivity from the control plane instances to the worker nodes (for example, to support <code>kubectl exec</code>, <code>logs</code>, and <code>proxy</code> data flows).</p> <p>After you create an Amazon EKS cluster, you must configure your Kubernetes tooling to communicate with the API server and launch worker nodes into your cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/managing-auth.html\">Managing Cluster Authentication</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html\">Launching Amazon EKS Worker Nodes</a>in the <i>Amazon EKS User Guide</i>.</p>",
                "operationId": "CreateCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {
                                        "cluster": {
                                            "description": "The full description of your new cluster.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the cluster.",
                                                    "type": "string"
                                                },
                                                "certificateAuthority": {
                                                    "description": "The <code>certificate-authority-data</code> for your cluster.",
                                                    "properties": {
                                                        "data": {
                                                            "description": "The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "clientRequestToken": {
                                                    "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                                    "type": "string"
                                                },
                                                "createdAt": {
                                                    "description": "The Unix epoch timestamp in seconds for when the cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "endpoint": {
                                                    "description": "The endpoint for your Kubernetes API server.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the cluster.",
                                                    "type": "string"
                                                },
                                                "platformVersion": {
                                                    "description": "The platform version of your Amazon EKS cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                                                    "type": "string"
                                                },
                                                "resourcesVpcConfig": {
                                                    "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.",
                                                    "properties": {
                                                        "securityGroupIds": {
                                                            "description": "The security groups associated with the cross-account elastic network interfaces that are used to allow communication between your worker nodes and the Kubernetes control plane.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "subnetIds": {
                                                            "description": "The subnets associated with your cluster.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "vpcId": {
                                                            "description": "The VPC associated with your cluster.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "roleArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The current status of the cluster.",
                                                    "enum": [
                                                        "CREATING",
                                                        "ACTIVE",
                                                        "DELETING",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": "The Kubernetes server version for the cluster.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnsupportedAvailabilityZoneException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "clientRequestToken": "1d2129a1-3d38-460a-9756-e5b91fddb951",
                                    "name": "prod",
                                    "resourcesVpcConfig": {
                                        "securityGroupIds": [
                                            "sg-6979fe18"
                                        ],
                                        "subnetIds": [
                                            "subnet-6782e71e",
                                            "subnet-e7e761ac"
                                        ]
                                    },
                                    "roleArn": "arn:aws:iam::012345678910:role/eks-service-role-AWSServiceRoleForAmazonEKS-J7ONKE3BQ4PI",
                                    "version": "1.10"
                                },
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The unique name to give to your cluster.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[0-9A-Za-z][A-Za-z0-9\\-_]*",
                                        "type": "string"
                                    },
                                    "resourcesVpcConfig": {
                                        "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>. You must specify at least two subnets. You may specify up to five security groups, but we recommend that you use a dedicated security group for your cluster control plane.",
                                        "properties": {
                                            "securityGroupIds": {
                                                "description": "Specify one or more security groups for the cross-account elastic network interfaces that Amazon EKS creates to use to allow communication between your worker nodes and the Kubernetes control plane. If you do not specify a security group, the default security group for your VPC is used.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "subnetIds": {
                                                "description": "Specify subnets for your Amazon EKS worker nodes. Amazon EKS creates cross-account elastic network interfaces in these subnets to allow communication between your worker nodes and the Kubernetes control plane.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "required": [
                                            "subnetIds"
                                        ],
                                        "type": "object"
                                    },
                                    "roleArn": {
                                        "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for Amazon EKS to make calls to other AWS API operations on your behalf. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/service_IAM_role.html\">Amazon EKS Service IAM Role</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                                        "type": "string"
                                    },
                                    "version": {
                                        "description": "The desired Kubernetes version for your cluster. If you do not specify a value here, the latest version available in Amazon EKS is used.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name",
                                    "roleArn",
                                    "resourcesVpcConfig"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/clusters/{name}": {
            "delete": {
                "description": "<p>Deletes the Amazon EKS cluster control plane. </p> <note> <p>If you have active services in your cluster that are associated with a load balancer, you must delete those services before deleting the cluster so that the load balancers are deleted properly. Otherwise, you can have orphaned resources in your VPC that prevent you from being able to delete the VPC. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html\">Deleting a Cluster</a> in the <i>Amazon EKS User Guide</i>.</p> </note>",
                "operationId": "DeleteCluster",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {
                                        "cluster": {
                                            "description": "The full description of the cluster to delete.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the cluster.",
                                                    "type": "string"
                                                },
                                                "certificateAuthority": {
                                                    "description": "The <code>certificate-authority-data</code> for your cluster.",
                                                    "properties": {
                                                        "data": {
                                                            "description": "The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "clientRequestToken": {
                                                    "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                                    "type": "string"
                                                },
                                                "createdAt": {
                                                    "description": "The Unix epoch timestamp in seconds for when the cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "endpoint": {
                                                    "description": "The endpoint for your Kubernetes API server.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the cluster.",
                                                    "type": "string"
                                                },
                                                "platformVersion": {
                                                    "description": "The platform version of your Amazon EKS cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                                                    "type": "string"
                                                },
                                                "resourcesVpcConfig": {
                                                    "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.",
                                                    "properties": {
                                                        "securityGroupIds": {
                                                            "description": "The security groups associated with the cross-account elastic network interfaces that are used to allow communication between your worker nodes and the Kubernetes control plane.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "subnetIds": {
                                                            "description": "The subnets associated with your cluster.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "vpcId": {
                                                            "description": "The VPC associated with your cluster.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "roleArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The current status of the cluster.",
                                                    "enum": [
                                                        "CREATING",
                                                        "ACTIVE",
                                                        "DELETING",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": "The Kubernetes server version for the cluster.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "name": "devel"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "<p>Returns descriptive information about an Amazon EKS cluster.</p> <p>The API server endpoint and certificate authority data returned by this operation are required for <code>kubelet</code> and <code>kubectl</code> to communicate with your Kubernetes API server. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html\">Create a kubeconfig for Amazon EKS</a>.</p> <note> <p>The API server endpoint and certificate authority data are not available until the cluster reaches the <code>ACTIVE</code> state.</p> </note>",
                "operationId": "DescribeCluster",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "cluster": {
                                            "arn": "arn:aws:eks:us-west-2:012345678910:cluster/devel",
                                            "certificateAuthority": {
                                                "data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN5RENDQWJDZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFWTVJNd0VRWURWUVFERXdwcmRXSmwKY201bGRHVnpNQjRYRFRFNE1EVXpNVEl6TVRFek1Wb1hEVEk0TURVeU9ESXpNVEV6TVZvd0ZURVRNQkVHQTFVRQpBeE1LYTNWaVpYSnVaWFJsY3pDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBRENDQVFvQ2dnRUJBTTZWCjVUaG4rdFcySm9Xa2hQMzRlVUZMNitaRXJOZGIvWVdrTmtDdWNGS2RaaXl2TjlMVmdvUmV2MjlFVFZlN1ZGbSsKUTJ3ZURyRXJiQyt0dVlibkFuN1ZLYmE3ay9hb1BHekZMdmVnb0t6b0M1N2NUdGVwZzRIazRlK2tIWHNaME10MApyb3NzcjhFM1ROeExETnNJTThGL1cwdjhsTGNCbWRPcjQyV2VuTjFHZXJnaDNSZ2wzR3JIazBnNTU0SjFWenJZCm9hTi8zODFUczlOTFF2QTBXb0xIcjBFRlZpTFdSZEoyZ3lXaC9ybDVyOFNDOHZaQXg1YW1BU0hVd01aTFpWRC8KTDBpOW4wRVM0MkpVdzQyQmxHOEdpd3NhTkJWV3lUTHZKclNhRXlDSHFtVVZaUTFDZkFXUjl0L3JleVVOVXM3TApWV1FqM3BFbk9RMitMSWJrc0RzQ0F3RUFBYU1qTUNFd0RnWURWUjBQQVFIL0JBUURBZ0trTUE4R0ExVWRFd0VCCi93UUZNQU1CQWY4d0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFNZ3RsQ1dIQ2U2YzVHMXl2YlFTS0Q4K2hUalkKSm1NSG56L2EvRGt0WG9YUjFVQzIrZUgzT1BZWmVjRVZZZHVaSlZCckNNQ2VWR0ZkeWdBYlNLc1FxWDg0S2RXbAp1MU5QaERDSmEyRHliN2pVMUV6VThTQjFGZUZ5ZFE3a0hNS1E1blpBRVFQOTY4S01hSGUrSm0yQ2x1UFJWbEJVCjF4WlhTS1gzTVZ0K1Q0SU1EV2d6c3JRSjVuQkRjdEtLcUZtM3pKdVVubHo5ZEpVckdscEltMjVJWXJDckxYUFgKWkUwRUtRNWEzMHhkVWNrTHRGQkQrOEtBdFdqSS9yZUZPNzM1YnBMdVoyOTBaNm42QlF3elRrS0p4cnhVc3QvOAppNGsxcnlsaUdWMm5SSjBUYjNORkczNHgrYWdzYTRoSTFPbU90TFM0TmgvRXJxT3lIUXNDc2hEQUtKUT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
                                            },
                                            "createdAt": 1527807879.988,
                                            "endpoint": "https://A0DCCD80A04F01705DD065655C30CC3D.yl4.us-west-2.eks.amazonaws.com",
                                            "name": "devel",
                                            "resourcesVpcConfig": {
                                                "securityGroupIds": [
                                                    "sg-6979fe18"
                                                ],
                                                "subnetIds": [
                                                    "subnet-6782e71e",
                                                    "subnet-e7e761ac"
                                                ],
                                                "vpcId": "vpc-950809ec"
                                            },
                                            "roleArn": "arn:aws:iam::012345678910:role/eks-service-role-AWSServiceRoleForAmazonEKS-J7ONKE3BQ4PI",
                                            "status": "ACTIVE",
                                            "version": "1.10"
                                        }
                                    },
                                    "properties": {
                                        "cluster": {
                                            "description": "The full description of your specified cluster.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the cluster.",
                                                    "type": "string"
                                                },
                                                "certificateAuthority": {
                                                    "description": "The <code>certificate-authority-data</code> for your cluster.",
                                                    "properties": {
                                                        "data": {
                                                            "description": "The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "clientRequestToken": {
                                                    "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                                    "type": "string"
                                                },
                                                "createdAt": {
                                                    "description": "The Unix epoch timestamp in seconds for when the cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "endpoint": {
                                                    "description": "The endpoint for your Kubernetes API server.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the cluster.",
                                                    "type": "string"
                                                },
                                                "platformVersion": {
                                                    "description": "The platform version of your Amazon EKS cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                                                    "type": "string"
                                                },
                                                "resourcesVpcConfig": {
                                                    "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.",
                                                    "properties": {
                                                        "securityGroupIds": {
                                                            "description": "The security groups associated with the cross-account elastic network interfaces that are used to allow communication between your worker nodes and the Kubernetes control plane.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "subnetIds": {
                                                            "description": "The subnets associated with your cluster.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "vpcId": {
                                                            "description": "The VPC associated with your cluster.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "roleArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The current status of the cluster.",
                                                    "enum": [
                                                        "CREATING",
                                                        "ACTIVE",
                                                        "DELETING",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": "The Kubernetes server version for the cluster.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "name": "devel"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/clusters/{name}/updates": {
            "get": {
                "description": "Lists the updates associated with an Amazon EKS cluster in your AWS account, in the specified Region.",
                "operationId": "ListUpdates",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "The <code>nextToken</code> value to include in a future <code>ListUpdates</code> request. When the results of a <code>ListUpdates</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        },
                                        "updateIds": {
                                            "description": "A list of all the updates for the specified cluster and Region.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Updates an Amazon EKS cluster to the specified Kubernetes version. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a>DescribeUpdate</a> API operation.</p> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p>",
                "operationId": "UpdateClusterVersion",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "update": {
                                            "description": "The full description of the specified update",
                                            "properties": {
                                                "createdAt": {
                                                    "description": "The Unix epoch timestamp in seconds for when the update was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "description": "Any errors associated with a <code>Failed</code> update.",
                                                    "items": {
                                                        "description": "An object representing an error when an asynchronous operation fails.",
                                                        "properties": {
                                                            "errorCode": {
                                                                "description": "<p>A brief description of the error. </p> <ul> <li> <p> <b>SubnetNotFound</b>: One of the subnets associated with the cluster could not be found.</p> </li> <li> <p> <b>SecurityGroupNotFound</b>: One of the security groups associated with the cluster could not be found.</p> </li> <li> <p> <b>EniLimitReached</b>: You have reached the elastic network interface limit for your account.</p> </li> <li> <p> <b>IpNotAvailable</b>: A subnet associated with the cluster does not have any free IP addresses.</p> </li> <li> <p> <b>AccessDenied</b>: You do not have permissions to perform the specified operation.</p> </li> <li> <p> <b>OperationNotPermitted</b>: The service role associated with the cluster does not have the required access permissions for Amazon EKS.</p> </li> <li> <p> <b>VpcIdNotFound</b>: The VPC associated with the cluster could not be found.</p> </li> </ul>",
                                                                "enum": [
                                                                    "SubnetNotFound",
                                                                    "SecurityGroupNotFound",
                                                                    "EniLimitReached",
                                                                    "IpNotAvailable",
                                                                    "AccessDenied",
                                                                    "OperationNotPermitted",
                                                                    "VpcIdNotFound",
                                                                    "Unknown"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "errorMessage": {
                                                                "description": "A more complete description of the error.",
                                                                "type": "string"
                                                            },
                                                            "resourceIds": {
                                                                "description": "An optional field that contains the resource IDs associated with the error.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "description": "A UUID that is used to track the update.",
                                                    "type": "string"
                                                },
                                                "params": {
                                                    "description": "A key-value map that contains the parameters associated with the update.",
                                                    "items": {
                                                        "description": "An object representing the details of an update request.",
                                                        "properties": {
                                                            "type": {
                                                                "description": "The keys associated with an update request.",
                                                                "enum": [
                                                                    "Version",
                                                                    "PlatformVersion"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The value of the keys submitted as part of an update request.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "status": {
                                                    "description": "The current status of the update.",
                                                    "enum": [
                                                        "InProgress",
                                                        "Failed",
                                                        "Cancelled",
                                                        "Successful"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The type of the update.",
                                                    "enum": [
                                                        "VersionUpdate"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "type": "string"
                                    },
                                    "version": {
                                        "description": "The desired Kubernetes version following a successful update.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "version"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/clusters/{name}/updates/{updateId}": {
            "get": {
                "description": "<p>Returns descriptive information about an update against your Amazon EKS cluster.</p> <p>When the status of the update is <code>Succeeded</code>, the update is complete. If an update fails, the status is <code>Failed</code>, and an error detail explains the reason for the failure.</p>",
                "operationId": "DescribeUpdate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "updateId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "update": {
                                            "description": "The full description of the specified update.",
                                            "properties": {
                                                "createdAt": {
                                                    "description": "The Unix epoch timestamp in seconds for when the update was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "description": "Any errors associated with a <code>Failed</code> update.",
                                                    "items": {
                                                        "description": "An object representing an error when an asynchronous operation fails.",
                                                        "properties": {
                                                            "errorCode": {
                                                                "description": "<p>A brief description of the error. </p> <ul> <li> <p> <b>SubnetNotFound</b>: One of the subnets associated with the cluster could not be found.</p> </li> <li> <p> <b>SecurityGroupNotFound</b>: One of the security groups associated with the cluster could not be found.</p> </li> <li> <p> <b>EniLimitReached</b>: You have reached the elastic network interface limit for your account.</p> </li> <li> <p> <b>IpNotAvailable</b>: A subnet associated with the cluster does not have any free IP addresses.</p> </li> <li> <p> <b>AccessDenied</b>: You do not have permissions to perform the specified operation.</p> </li> <li> <p> <b>OperationNotPermitted</b>: The service role associated with the cluster does not have the required access permissions for Amazon EKS.</p> </li> <li> <p> <b>VpcIdNotFound</b>: The VPC associated with the cluster could not be found.</p> </li> </ul>",
                                                                "enum": [
                                                                    "SubnetNotFound",
                                                                    "SecurityGroupNotFound",
                                                                    "EniLimitReached",
                                                                    "IpNotAvailable",
                                                                    "AccessDenied",
                                                                    "OperationNotPermitted",
                                                                    "VpcIdNotFound",
                                                                    "Unknown"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "errorMessage": {
                                                                "description": "A more complete description of the error.",
                                                                "type": "string"
                                                            },
                                                            "resourceIds": {
                                                                "description": "An optional field that contains the resource IDs associated with the error.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "description": "A UUID that is used to track the update.",
                                                    "type": "string"
                                                },
                                                "params": {
                                                    "description": "A key-value map that contains the parameters associated with the update.",
                                                    "items": {
                                                        "description": "An object representing the details of an update request.",
                                                        "properties": {
                                                            "type": {
                                                                "description": "The keys associated with an update request.",
                                                                "enum": [
                                                                    "Version",
                                                                    "PlatformVersion"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The value of the keys submitted as part of an update request.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "status": {
                                                    "description": "The current status of the update.",
                                                    "enum": [
                                                        "InProgress",
                                                        "Failed",
                                                        "Cancelled",
                                                        "Successful"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The type of the update.",
                                                    "enum": [
                                                        "VersionUpdate"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "Certificate": {
                "description": "An object representing the <code>certificate-authority-data</code> for your cluster.",
                "properties": {
                    "data": {
                        "description": "The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ClientException": {},
            "Cluster": {
                "description": "An object representing an Amazon EKS cluster.",
                "properties": {
                    "arn": {
                        "description": "The Amazon Resource Name (ARN) of the cluster.",
                        "type": "string"
                    },
                    "certificateAuthority": {
                        "description": "The <code>certificate-authority-data</code> for your cluster.",
                        "properties": {
                            "data": {
                                "description": "The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "clientRequestToken": {
                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                        "type": "string"
                    },
                    "createdAt": {
                        "description": "The Unix epoch timestamp in seconds for when the cluster was created.",
                        "format": "date-time",
                        "type": "string"
                    },
                    "endpoint": {
                        "description": "The endpoint for your Kubernetes API server.",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name of the cluster.",
                        "type": "string"
                    },
                    "platformVersion": {
                        "description": "The platform version of your Amazon EKS cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                        "type": "string"
                    },
                    "resourcesVpcConfig": {
                        "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.",
                        "properties": {
                            "securityGroupIds": {
                                "description": "The security groups associated with the cross-account elastic network interfaces that are used to allow communication between your worker nodes and the Kubernetes control plane.",
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "subnetIds": {
                                "description": "The subnets associated with your cluster.",
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "vpcId": {
                                "description": "The VPC associated with your cluster.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "roleArn": {
                        "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.",
                        "type": "string"
                    },
                    "status": {
                        "description": "The current status of the cluster.",
                        "enum": [
                            "CREATING",
                            "ACTIVE",
                            "DELETING",
                            "FAILED"
                        ],
                        "type": "string"
                    },
                    "version": {
                        "description": "The Kubernetes server version for the cluster.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ClusterName": {
                "maxLength": 100,
                "minLength": 1,
                "pattern": "^[0-9A-Za-z][A-Za-z0-9\\-_]*",
                "type": "string"
            },
            "ClusterStatus": {
                "enum": [
                    "CREATING",
                    "ACTIVE",
                    "DELETING",
                    "FAILED"
                ],
                "type": "string"
            },
            "CreateClusterRequest": {
                "example": {
                    "clientRequestToken": "1d2129a1-3d38-460a-9756-e5b91fddb951",
                    "name": "prod",
                    "resourcesVpcConfig": {
                        "securityGroupIds": [
                            "sg-6979fe18"
                        ],
                        "subnetIds": [
                            "subnet-6782e71e",
                            "subnet-e7e761ac"
                        ]
                    },
                    "roleArn": "arn:aws:iam::012345678910:role/eks-service-role-AWSServiceRoleForAmazonEKS-J7ONKE3BQ4PI",
                    "version": "1.10"
                },
                "properties": {
                    "clientRequestToken": {
                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                        "type": "string"
                    },
                    "name": {
                        "description": "The unique name to give to your cluster.",
                        "maxLength": 100,
                        "minLength": 1,
                        "pattern": "^[0-9A-Za-z][A-Za-z0-9\\-_]*",
                        "type": "string"
                    },
                    "resourcesVpcConfig": {
                        "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>. You must specify at least two subnets. You may specify up to five security groups, but we recommend that you use a dedicated security group for your cluster control plane.",
                        "properties": {
                            "securityGroupIds": {
                                "description": "Specify one or more security groups for the cross-account elastic network interfaces that Amazon EKS creates to use to allow communication between your worker nodes and the Kubernetes control plane. If you do not specify a security group, the default security group for your VPC is used.",
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "subnetIds": {
                                "description": "Specify subnets for your Amazon EKS worker nodes. Amazon EKS creates cross-account elastic network interfaces in these subnets to allow communication between your worker nodes and the Kubernetes control plane.",
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            }
                        },
                        "required": [
                            "subnetIds"
                        ],
                        "type": "object"
                    },
                    "roleArn": {
                        "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for Amazon EKS to make calls to other AWS API operations on your behalf. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/service_IAM_role.html\">Amazon EKS Service IAM Role</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                        "type": "string"
                    },
                    "version": {
                        "description": "The desired Kubernetes version for your cluster. If you do not specify a value here, the latest version available in Amazon EKS is used.",
                        "type": "string"
                    }
                },
                "required": [
                    "name",
                    "roleArn",
                    "resourcesVpcConfig"
                ],
                "type": "object"
            },
            "CreateClusterResponse": {
                "example": {},
                "properties": {
                    "cluster": {
                        "description": "The full description of your new cluster.",
                        "properties": {
                            "arn": {
                                "description": "The Amazon Resource Name (ARN) of the cluster.",
                                "type": "string"
                            },
                            "certificateAuthority": {
                                "description": "The <code>certificate-authority-data</code> for your cluster.",
                                "properties": {
                                    "data": {
                                        "description": "The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "clientRequestToken": {
                                "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                "type": "string"
                            },
                            "createdAt": {
                                "description": "The Unix epoch timestamp in seconds for when the cluster was created.",
                                "format": "date-time",
                                "type": "string"
                            },
                            "endpoint": {
                                "description": "The endpoint for your Kubernetes API server.",
                                "type": "string"
                            },
                            "name": {
                                "description": "The name of the cluster.",
                                "type": "string"
                            },
                            "platformVersion": {
                                "description": "The platform version of your Amazon EKS cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.",
                                "type": "string"
                            },
                            "resourcesVpcConfig": {
                                "description": "The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.",
                                "properties": {
                                    "securityGroupIds": {
                                        "description": "The security groups associated with the cross-account elastic network interfaces that are used to allow communication between your worker nodes and the Kubernetes control plane.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "subnetIds": {
                                        "description": "The subnets associated with your cluster.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "vpcId": {
                                        "description": "The VPC associated with your cluster.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "roleArn": {
                                "description": "The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.",
                                "type": "string"
                            },
                            "status": {
                                "description": "The current status of the cluster.",
                                "enum": [
                                    "CREATING",
                                    "ACTIVE",
                                    "DELETING",
                                    "FAILED"
                                ],
                                "type": "string"
                            },
                            "version": {
                                "description": "The Kubernetes server version for the cluster.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "DeleteClusterRequest": {
                "example": {
                    "name": "devel"
                },
                "properties": {},
                "type": "object"
            },
            "DeleteClusterResponse": {
                "example": {},
                "properties": {
                    "cluster": {
                        "description": "The full description of the cluster to delete.",
[...]
